.main {
    width: 85%;
    margin: auto;
}
.brand {
    color: #a029a8;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icons {
    font-size: 22px;
    color: orangered;
}

.imglogo {
    color: purple;
    display: inline;
}
.container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.intro {
    width: 40%;
    color: #0f0800;
    font-family: sans-serif;
    padding: 20px 0px 0px 20px;
}
.intro > h1 {
    font-size: 39px;
    padding: 0px;
}

.intro > p {
    font-size: 18px;
}
.intro > a {
    font-size: 18px;
    color: orangered;
}
.image {
    width: 55%;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .image > img {
    max-width: 100%;
    max-height: 100%;
}
