.main {
    width: 85%;
    margin: auto;
}
.brand {
    color: #a029a8;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icons {
    font-size: 22px;
    color: orangered;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.imglogo {
    color: purple;
    display: inline;
}
.container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.intro {
    width: 40%;
    color: #0f0800;
    font-family: sans-serif;
    padding: 20px 0px 0px 20px;
}
.intro > h1 {
    font-size: 39px;
    padding: 0px;
}

.intro > p {
    font-size: 18px;
}
.intro > a {
    font-size: 18px;
    color: orangered;
}
.image {
    width: 55%;
} 
.port-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.port-ul > li {
   float: right;
}
.image > img {
    max-width: 100%;
    max-height: 100%;
    float: left;
}

.bio-container{
    margin: 0 auto;
}
#main-bio{
    float: left;
    width: 70%;
}
#contact-info{
    float: left;
    width: 30%;
}
#bio-image{
    float: left;
    width: 200px;
    margin-right: 15px;
}
.bio-body{
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
.bio-header{
    background-color: #333333;
    text-align: center;
}
.bio-h1{
    color: #eee;
    font-size: 28px;
    padding: 5px;
}
.bio-h2{
    font-size: 24px;
}
.link{
    color: #d21034;
}


.contact-body{
    background-color: #e9e7e7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding-top: 60px;
}
.card{
    margin: 0 auto;
    background-color: #fbf7f7;
    border-radius: 2px;
    padding: 20px;
    width: 30%;
    align-items: center;
}
.card-head{
    text-align: center;
}
.contact-input{
    width: 90%;
    padding: 10px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
}
textarea{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-label{
    padding: 5px 0px;
    font-size: medium;
}
.contact-send-btn{
    background-color: #a029a8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    margin: 8px 2px;
    display: inline-block;
}
.contact-send-btn:hover {
    background-color: #de3ee9;
  }